/* Put your CSS here */
html,
body {
  margin: 20px;
}
#votes-left {
  line-height: 42px;
}
.login-link {
  cursor: pointer;
}
.new-idea .row > div {
  line-height: 42px;
  padding-top: 8px;
}
.new-idea .row > div input {
  width: 520px;
}
.idea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffe1e1e1', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.idea .row {
  margin-left: 0;
}
